

.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start space-between;
    height: 100%;
    width: 100%;
    background-color: #286FC3;
}


.link{
    color: white;



}
